.place {
  display: flex;
  margin-top: 100px;
}
.super-links {
  box-sizing: content-box;
  background-color: teal;
  box-shadow: black;
  margin-top: 10px;
  border: 2px solid gray;
  border-radius: 10px;
}
.super {
  color: white !important;
  text-decoration: none !important;
}
.super:hover {
  color: orangered !important;
}
.manu-caro {
  margin-top: 10px;
}
.img {
  height: 350px;
  width: 100%;
}
.mobile {
  padding: 9px;
  list-style: none;
}
.center {
  background-color: teal;
  margin-top: 10px;
  box-shadow: black;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 3px;
  list-style: none;
  text-decoration: none;
  width: 100%;
}
.menu {
  display: flex;
  flex-direction: row;
}
.free {
  width: 100%;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 3px;
  margin-bottom: 10px;
}
.icon {
  width: 30px;
  margin: 5px;
}
.homepic {
  height: 330px;
  width: 100%;
}
.icon-p {
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: white;
}
.icons {
  text-decoration: none !important;
  color: white !important;
}
.icons:hover {
  color: orangered !important;
}
@media screen and (max-width: 480px) {
  .place {
    display: flex;
    flex-direction: column;
  }
  .mobile {
    padding: 9px;
    text-align: center;
    list-style: none;
  }
  .img {
    height: 300px;
    width: 100%;
  }
  .homepic {
    height: 280px;
    width: 100%;
  }
  .super-links {
    box-sizing: content-box;
    background-color: teal;
    box-shadow: black;
    margin-top: 30px;
    border: 2px solid gray;
    border-radius: 10px;
    list-style: none;
    width: 70%;
    text-decoration: none;
    font-size: 9px;
    align-items: center;
    justify-content: center;
  }
  .manu-caro {
    margin-top: 30px;
  }
  .center {
    background-color: teal;
    margin-top: 30px;
    box-shadow: black;
    border: 2px solid gray;
    border-radius: 15px;
    padding: 3px;
    width: 100%;

    list-style: none;
    text-decoration: none;
    width: 100%;
    font-size: 9px;
  }
}
