.search {
  width: 400px;
  margin-right: 5px;
  border-radius: 10px;
}

.navbar {
  min-height: 80px;
  background-attachment: fixed;
  position: fixed;
  background-size: cover;
  background-color: aqua;
  box-shadow: black;
}
.drop {
  color: black !important;
  text-decoration: none !important;
  padding: 10px;
  font-weight: bolder;
}
.drops {
  color: orange !important;
  text-decoration: none !important;
  padding: 10px;
  font-weight: bolder;
}
.form {
  margin-top: 20%;
}

@media screen and (max-width: 480px) {
  .navbar {
    min-height: 40px;
    background-attachment: fixed;
    position: fixed;
    background-color: aqua;
    overflow: hidden;
    width: 100%;
  }
  .drop {
    color: black !important;
    text-decoration: none !important;
    padding: 5px;
    font-weight: bolder;
  }
  .search {
    width: 200px;
    margin-right: 5px;
    border-radius: 10px;
  }
  .drops {
    color: orange !important;
    text-decoration: none !important;
    padding: 5px;
    font-weight: bolder;
  }
}
