.center {
  background-color: teal;
  margin-top: 120px;
  box-shadow: black;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 3px;
  list-style: none;
  text-decoration: none;
}
.free {
  width: 100%;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 5px;
}
.icon {
  width: 30px;
  margin: 5px;
}
.icon-p {
  text-align: center;
  padding: 0px;
  margin: 0px;
  color: white;
}
.icons {
  text-decoration: none !important;
  color: white !important;
}
.icons:hover {
  color: orangered !important;
}
